 @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@400;800&family=Roboto:wght@300;400;700;900&display=swap');

 * {
     margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif;
 }

 .nav-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     text-align: center;
     padding: 5px 120px;
     background-color: rgb(2, 107, 2);
     font: 1.2em sans-serif;
 }

 .right-nav, ul {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     list-style: none;
 }

 li,a {
     text-decoration: none;
     margin: 10px;
     color: white;
 }

 .btn-log-primary {
     height: 50px;
     width: 120px;
     background-color: crimson;
     color: white;
     border: none;
     text-align: center;
     border-radius: 5px;
     font: 1em sans-serif;
     font-weight: bolder;
 }

 .header-container {
     background-color: rgb(206, 163, 163);
     height: 100vh;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0px 40px 0px 150px;
 }

 .banner-right-img {
     width: 400px;
     height: 500px;
 }

 .header-title {
     font-size: xx-large;
     font-weight: 900;
     font: 3em sans-serif;
     font-weight: bolder;
     margin-bottom: 15px;

 }

 .btn-primary {
     height: 50px;
     width: 150px;
     background-color: crimson;
     color: white;
     border: none;
     text-align: center;
     margin-top: 10px;
     border-radius: 5px;
     font: 1em sans-serif;
     font-weight: bolder;
 }

 /* header part end */


 /* feature-part-start */
 .feauture-heading {
     text-align: center;
     margin-top: 20px;
 }

 .fetured-part-container {
     display: flex;
     text-decoration: underline;
     justify-content: space-around;
     align-items: center;
     text-align: center;
     padding: 0 150px;
     margin-top: 30px;
     gap: 50px;
 }

 .fetured-part-container,
 img {}

 .box-img-1 {
     width: 330px;
     height: 450px;
     border: none;
     background-color: #5e2222;
     border-top-right-radius: 150px;
     border-top-left-radius: 150px;
 }

 .box-img-2 {
     width: 330px;
     height: 450px;
     background-color: rgb(51, 43, 43);
     border-top-right-radius: 150px;
     border-top-left-radius: 150px;
 }

 .box-img-3 {
     width: 330px;
     height: 450px;
     background-color: rgb(86, 102, 101);
     border-top-right-radius: 150px;
     border-top-left-radius: 150px;
 }

 /* feature part-end */


 /* icon-part start */
 .icon-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     text-align: center;
     background-color: gainsboro;
     border-radius: 10px;
     margin: 20px 150px;
     padding: 75px;
 }

 /* icon-part-end */

 /* hot-deal-part-start */
 .hot-container {
     background-color: rgb(243, 219, 219);
     height: 70vh;
     display: flex;
     justify-content: space-between;
     align-items: center;
     text-align: center;
     padding: 0px 40px 0px 150px;
 }

 .banner-right-img-1 {
     width: 300px;
     height: 300px;
 }

 /* hot-deal-part-end */


 /* insta-start */
 .instragram-part-container {
     display: flex;
     justify-content: space-around;
     gap: 15px;
     padding: 30px 150px;
 }

 .box-img-5 {
     height: 300px;
     width: 250px;
     border-radius: 15px;
 }

 .get-deals-container {
     background-image: url(/images/slider.png);
     height: 30vh;
     text-align: center;
     margin: 25px 120px;
     padding: 15px;
     border-radius: 15px;
 }

 .mail-input {
     height: 20px;
     width: 500px;
     border: none;
     padding: 25px;
     margin-top: 15px;
     border-radius: 15px;
     box-shadow: 1px 5px 5px 5px;
 }

 .mail-input-1 {
     height: 70px;
     border: none;
     padding: 25px;
     margin-top: 15px;
     border-radius: 15px;
     background-color: rgb(29, 2, 7);
     color: rgb(7, 5, 5);
     box-shadow: 1px 5px 5px 5px;


 }

 /* inst-end */
 /* get deals-part start */



 /* get-deals part end */



 /* footer part start */
 .footer-container {
     height: 40vh;
     background-color: black;
     color: white;
     text-align: center;
     padding: 50px;
 }

 .footer-color {
     color: crimson;
 }

 .footer-copyright {
     margin-top: 50px;
     font: .7em sans-serif;
 }

 /* footer part end */
